html {
    background-color: cadetblue;
}

main p {
    color: blue;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}


footer > p {
    color: purple;
    font-style: italic;
}

img+h1 {
    color: green;
    font-family: fantasy;
    font-size: 60px;
}

a:link {
    color: black;
}

a:visited {
    color: red;
}

p:hover {
    color: orange;
    border: dashed 5px red;
}

p:active {
    font-size: 40px;
}